@using TaskManagerDemo.Models.ViewModels;
@using TaskManagerDemo.Models;
@using TaskStatus = TaskManagerDemo.Enums.TaskStatus;
@model TaskListVM

@{
    ViewData["Title"] = "Index";
    TaskManagerDemo.Models.Task task = Model.Tasks.FirstOrDefault();
}

<div class="d-flex mt-5 mb-3">
    <div class="col-6">
        <a asp-action="Create" class="btn btn-primary">Create New</a>
    </div>
    <div class="col-6">
        <form asp-action="Index" class="d-flex justify-content-end">
            <label asp-for="Filter" class="fs-4 fw-bold">Filter:</label>
            <select class="form-control-plaintext ml-3 border w-50 mx-3" asp-for="Filter" asp-items="Model.TaskStatuses">
            </select>
            <button type="submit" class="btn btn-success">Apply</button>
        </form>
    </div>
</div>

<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => task.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => task.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => task.Status)
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Tasks) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger" onclick="return confirm('Are You Sure To Delete This Task ... ?')">Delete</a> |
                @if (item.Status != TaskStatus.Completed)
                {
                     <a asp-action="ChangeTaskStatus" asp-route-id="@item.Id" class="btn btn-info" id="myButton" onclick="disableButton()">Done</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>

<script>
    function disableButton() {
        document.getElementById("myButton").disabled = true;
        Confirmation();
    }
    function Confirmation() {
        return confirm('Are You Sure Complete This Task ... ?')
    }
</script>